<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sentiment Analysis (Twitter) </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/wordcloud.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid" style="text-align: center; word-wrap: break-word; min-width: 320px; min-height: 568px;">
            <h1> Twitter Sentiment Analysis </h1>
            <div class="row" style="border-style: solid;">
                <div id="search_box" class="container-fluid">
                    <input type="text" id="query">
                    <button type="button" class="btn btn-primary" id="launch">Launch</button>
                </div>
            </div>
            <div class="row" style="border-style: solid;">
                <div class="col-md-12">
                    <h3>Word Frequency</h3>
                    <!--{% block content %}{% endblock %}-->
                    <div id="container" style="margin: auto; min-width: 320px; min-height: 568px;"></div>
                    <h3>Tweet Sentiment</h3>
                    <div class="pre-scrollable"></div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/chart.js') }}"></script>
    </body>
</html>
